        body {
            margin: 0;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 14px;
            box-sizing: border-box;
        }
        
        p {
            text-align: justify;
        }
        /*Layout bên ngoài*/
        
        .row {
            float: left;
            width: 100%;
        }
        
        .header {
            background: url(../image/tooplate_body.jpg);
            min-height: 300px;
        }
        
        .header h1 {
            float: left;
            color: #000;
            font-weight: bolder;
            font-size: 60px;
            padding-left: 200px;
            margin-top: 10px;
        }
        
        .menu {
            width: 625px;
            height: 50px;
            float: right;
            margin-top: 30px;
            margin-right: 200px;
            background: url(../image/tooplate_menu.png);
        }
        
        .menu li {
            display: inline;
            list-style-type: none;
            background-image: url(../image/tooplate_menu_divider.png);
            background-position: center right;
            background-repeat: no-repeat;
        }
        
        .menu li a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            padding: 0 30px;
            text-align: center;
        }
        
        .menu li a:hover {
            color: #fff;
        }
        
        .content {
            background-color: #c9c0ae;
            height: 800px;
            position: relative;
            z-index: 1;
        }
        
        .footer {
            background-color: #a09881;
            min-height: 50px;
            color: #000;
        }
        
        .footer p {
            text-align: center;
        }
        
        .footer span {
            font-weight: bold;
        }
        /*Layout nổi bên trong*/
        
        .container {
            margin: 0 auto;
            width: 70%;
            position: relative;
            z-index: 2;
            top: -220px;
        }
        
        .header1 {
            background-image: url(../image/slideshow/03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 270px;
        }
        /*Content Layout bên trong */
        
        .content1 h1 {
            margin-top: 50px;
            font-weight: bolder;
        }
        
        .boxtin h3,
        .boxtinright h3 {
            color: #237147;
        }
        
        .boxtin span {
            color: #1d5192;
            font-weight: bold;
        }
        
        .boxtinright {
            padding-left: 20px;
        }
        
        .col2 {
            float: left;
            width: 50%;
        }
        
        .boxmore {
            background: url(../image/tooplate_btn.png);
            width: 100px;
            height: 30px;
            float: right;
        }
        
        .boxmore p {
            margin: 5px 30px;
            font-weight: bold;
        }
        
        .col2 img {
            float: left;
            margin-right: 30px;
        }
        
        .col3 {
            float: left;
            width: 30%;
        }
        
        .col3 h3 {
            color: #237147;
        }
        
        .box2tooplate,
        .box3tooplate {
            padding-left: 40px;
        }